@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
    color: #0a2ff1;
}

body{
    width: 40%;
    font-family: "Poppins";
}

h1{
    font-weight: 700;
    font-size: 59pt;
    line-height: 85pt;
    padding: 0 0 30pt 0;
}

p{
    font-weight: 500;
    font-size: 23pt;
    line-height: 30pt;
}

strong{
    background-color: #3ffff3;
}

.celular{
    width: 300px;
    z-index: 1;
}

.fondo{
    position: fixed;
    width: 300px;
    height: 340px;
}

div{
    display: flex;
    align-items: flex-end;
}